@model DailyNutrientViewModel

@{
    ViewData["Title"] = "Keep track of your daily nutrition";
}

<div class="table-responsive">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td>Date</td>
                <td>Protein (oz.)</td>
                <td>Grains (oz.)</td>
                <td>Fruits (cup)</td>
                <td>Oils (g)</td>
                <td>Dairy (cup)</td>
                <td>Vegetables (cup)</td>
                <td>Calories</td>
                <td>Comment</td>
            </tr>
        </thead>
        @foreach (var nutrient in Model.DailyNutrients)
        {
            <tr>
                <td>@nutrient.CreateDate</td>
                <td>@nutrient.Proteins @nutrient.ProteinQuantity</td>
                <td>@nutrient.Grains @nutrient.GrainQuantity</td>
                <td>@nutrient.Fruits @nutrient.FruitQuantity</td>
                <td>@nutrient.Oils @nutrient.OilQuantity</td>
                <td>@nutrient.Dairy @nutrient.DairyQuantity</td>
                <td>@nutrient.Vegetables @nutrient.VegetableQuantity</td>
                <td>@nutrient.Calories</td>
                <td>@nutrient.Comment</td>
            </tr>
        }
    </table>

    <div class="panel-footer add-dailynutrient-form">
        <!-- TODO: Add food nutrients form -->
    </div>
</div>