@model DailyNutrientViewModel

@{
    ViewData["Title"] = "Keep track of your daily nutrition";
}

<div class="panel panel-default nutrient-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Protein</td>
                <td>Protein Quantity</td>
                <td>Grains</td>
                <td>Grain Quantity</td>
                <td>Fruits</td>
                <td>Fruit Quantity</td>
                <td>Oils</td>
                <td>Oil Quantity</td>
                <td>Dairy</td>
                <td>Dairy Quantity</td>
                <td>Vegetables</td>
                <td>Vegetable Quantity</td>
                <td>Date</td>
                <td>Calories</td>
                <td>Comment</td>
            </tr>
        </thead>
        @foreach (var nutrient in Model.DailyNutrients)
        {
            <tr>
                <td>@nutrient.Proteins</td>
                <td>@nutrient.ProteinQuantity</td>
                <td>@nutrient.Grains</td>
                <td>@nutrient.GrainQuantity</td>
                <td>@nutrient.Fruits</td>
                <td>@nutrient.FruitQuantity</td>
                <td>@nutrient.Oils</td>
                <td>@nutrient.OilQuantity</td>
                <td>@nutrient.Dairy</td>
                <td>@nutrient.DairyQuantity</td>
                <td>@nutrient.Vegetables</td>
                <td>@nutrient.VegetableQuantity</td>
                <td>@nutrient.CreateDate</td>
                <td>@nutrient.Calories</td>
                <td>@nutrient.Comment</td>
            </tr>
        }
    </table>

    <div class="panel-footer add-dailynutrient-form">
        <!-- TODO: Add food nutrients form -->
    </div>
</div>