@model DailyNutrientViewModel

@{
    ViewData["Title"] = "Keep track of your daily nutrition";
}

<div class="table-responsive">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td>Date</td>
                <td>Protein</td>
                <td>Grains</td>
                <td>Fruits</td>
                <td>Oils</td>
                <td>Dairy</td>
                <td>Vegetables</td>
                <td>Calories</td>
                <td>Comment</td>
            </tr>
        </thead>
        @foreach (var nutrient in Model.DailyNutrients)
        {
            <tr>
                <td>@nutrient.CreateDate</td>
                <td>@nutrient.Proteins @nutrient.ProteinQuantity oz</td>
                <td>@nutrient.Grains @nutrient.GrainQuantity oz </td>
                <td>@nutrient.Fruits @nutrient.FruitQuantity cups</td>
                <td>@nutrient.Oils @nutrient.OilQuantity Tbsp</td>
                <td>@nutrient.Dairy @nutrient.DairyQuantity g</td>
                <td>@nutrient.Vegetables @nutrient.VegetableQuantity oz</td>
                <td>@nutrient.Calories</td>
                <td>@nutrient.Comment</td>
            </tr>
        }
    </table>

    <div class="panel-footer add-dailynutrient-form">
        <!-- TODO: Add food nutrients form -->
    </div>
</div>